.home-tab {
  font-family: 'Poppins', sans-serif;
  color: #333;
  overflow-x: hidden;
  background-color: #fff0eb;
}

/* Hero */
.hero-tab {
  background-image: url(../images/mobile-hero.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  position: fixed;
  top: 0;
  padding: 20px;
  z-index: 1;
}
.search-icon i {
  position: absolute;
  z-index: 2;
  color: wheat;
  font-size: 1.5rem;
  top: 30px;
  left: 30px;
}
.search-icon input {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  backdrop-filter: blur(16px);
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid wheat;
  color: wheat;
  font-size: 1rem;
  text-align: center;
}

.overlay-tab {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  padding: 2.5rem;
  top: 50%;
  backdrop-filter: blur(6px);
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  text-align: center;
  color: #fff;
  touch-action: none;
}

.overlay-icons {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 4.5rem;
  align-items: center;
  rotate: 45deg;
  color: #fff;
}

.icon {
  rotate: -45deg;
  color: #ffffff;
  text-decoration: none;
  background-color: #d64161;
  border-radius: 50%;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}
.icon:active{
  background-color: transparent;
  border: 4px solid #d64161;
  color: #d64161;
}
.icon i {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
}
.icon p {
  font-size: 0.65rem;
}
.icon:nth-child(1) { top: 10%; left: 50%; transform: translate(-50%, 0); }
.icon:nth-child(2) { top: 50%; left: 10%; transform: translate(0, -50%); }
.icon:nth-child(3) { bottom: 10%; left: 50%; transform: translate(-50%, 0); }
.icon:nth-child(4) { top: 50%; right: 10%; transform: translate(0, -50%); }

/* Welcome */
.welcome {
  text-align: center;
  padding: 2rem;
  background-color: #fff0eb;
}

.welcome h2 {
  color: #d64161;
  margin-bottom: 0.5rem;
}

/* Featured Dishes */
.features {
  padding: 1rem;
  background-color: #fff0eb;
}

.features h3 {
  text-align: center;
  margin-bottom: 1rem;
  color: #d64161;
}

.cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fff9f7;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 100px;
  text-align: center;
  padding: 1rem;
  transition: transform 0.2s;
}

.card img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.03);
}

.mobile-card-title {
  color: #d64161;
  margin-top: 0.8rem;
  font-size: 11px;
}
.mobile-card-desc {
  font-size: 10px;
  color: #555;
  margin-top: 0.4rem;
}

/* Final CTA */
.cta {
  background-color: #fff0eb;
  padding: 2rem;
  text-align: center;
  margin-bottom: 100px;
}

.mobile-cta-title {
  margin-bottom: 1rem;
  font-size: 15px
}
.mobile-cta-desc {
  margin-bottom: 1.5rem;
  font-size: 12px;
  color: #555;
}
.mobile-cta-btn {
  background-color: #d64161;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  font-size: 10px;
  cursor: url(../pointer.png), pointer;
  transition: background-color 0.3s ease;
}
