.menu-container {
  padding: 1.5rem;
  background: #fff8f1;
  min-height: 100vh;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #d14524;
}

.menu-icon {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  color: #333;
  padding: 16px 24px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  font-weight: bold;
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
}



.cart-link {
    color: #d14524;
}

.cart-link:hover {
    color: #ff6f61;
    transform: scale(1.1);
}

.menu-title {
  text-align: left;
  font-size: 1.5rem;
  color: #d14524;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.menu-card {
  margin-top: 20px;
  background: #fff;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.menu-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.menu-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #aa2e25;
  margin: 0.75rem 1rem 0;
}

.menu-description {
  font-size: 0.9rem;
  color: #555;
  margin: 0.5rem 1rem 1rem;
}

.menu-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem 1rem;
}

.menu-price {
  font-size: 1rem;
  font-weight: 600;
  color: #444;
}

.add-btn {
  background: #d14524;
  color: white;
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.85rem;
  transition: background 0.2s;
}

.add-btn:hover {
  background: #ff6f61;
}



