.mobile-menu-page {
  padding: 1.5rem;
  background: #fff8f1;
  min-height: 100vh;
  margin-bottom: 70px;
  color: #aa2e25;
}

.mobile-menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #d14524;
    font-size: 0.8rem;
}

.mobile-menu-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.mobile-menu-card {
  margin-top: 20px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  width: 100px;
}
.mobile-menu-card-image {
  height: 100px;
  object-fit: cover;
  width: 100%;
}
.mobile-menu-card-name {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 0.7rem;
}
.mobile-menu-card-description {
  margin: 0 auto;
  font-size: 0.6rem;
  color: #555;
  text-align: left;
  margin-left: 3px;
  margin-right: 3px;
}
.mobile-menu-price {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.mobile-menu-card-price {
  font-size: 0.5rem;
  font-weight: bold;
  color: #aa2e25;
  margin: 0 auto;
}
.mobile-cartt-btn {
  background-color: #aa2e25;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.6rem;
}
.mobile-menu-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.menu-icon {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  color: #333;
  padding: 16px 24px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  font-weight: bold;
  animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  10% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -40%);
  }
}