/* src/components/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b22222;
  color: white;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.logo li{
  list-style: none;
}

.logo-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  cursor: url(../pointer.png), pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
  cursor: url(../pointer.png), pointer;
}

.nav-links li a:hover {
  color: #ffd6d6;
}

.signing-links {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.signing-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
  border: 2px solid #ffd6d6;
  border-radius: 15px;
  padding: 0.2rem 0.5rem;
  cursor: url(../pointer.png), pointer;
}

.signing-links li a:hover {
  color: #b22222;
  border: 2px solid #b22222;
  background-color: #ffd6d6;
}
