.toast-container {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  pointer-events: none;
}

.toast-box {
  background: #cc0000;
  color: #fff;
  font-size: 0.8rem;
  padding: 16px 28px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  animation: fadeInOut 2s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: scale(0.95) translate(-50%, -50%);
  }
  10% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
  90% {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: scale(0.95) translate(-50%, -50%);
  }
}
