.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #ef8098;
  border-bottom: 1px solid #000000;
  position: sticky;
  top: 0;
  font-size: 0.9rem;
  z-index: 1000;
}

.top-left h3 {
  margin: 0;
  color: #000000;
}

.top-right a {
  margin-left: 0.8rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #000000;
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
  transition: 0.2s ease-in-out
}

.top-right a:hover {
  background-color: #ffb3b3;
  color: #cc0000;
}
